#updateproduct-page {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.nav-header button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Roboto', Arial, sans-serif;
}

.nav-header button:hover {
  background-color: #0056b3;
}

.update-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.product-form {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: 'Roboto', Arial, sans-serif;
}

.product-form h1 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-col {
  width: 48%;
}

.image-preview-container {
  margin-top: 10px;
}

.image-preview {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-subir {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto', Arial, sans-serif;
}

.contImg{
padding: 2%; 
height: 10vh; 
border: 1px solid #ddd;
border-radius: 10px;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;

}

.btn-subir:hover {
  background-color: #0056b3;
}

.success-message,
.error-message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
}

/* Media queries para pantallas medianas y pequeñas */
@media (max-width: 768px) {
  .product-form {
    padding: 15px;
  }

  .form-row {
    flex-direction: column;
  }

  .form-col {
    width: 100%;
  }
}
