/* Estilos para el formulario principal */
.form {
  border-radius: 18px;
  background-color: #eeeeee;
  color: #000;
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #c6c6c6;
  max-width: 90%; /* Ajuste automático al tamaño de pantalla */
  width: 500px; /* Ancho fijo para pantallas grandes */
  height: auto; /* Altura automática para adaptarse al contenido */
  margin: 20px auto; /* Centrado horizontal y separación superior */
  padding: 20px;
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  animation: fadeIn 0.8s ease-out forwards;
}

.fotoReg{
  padding: 0% 5%;
height: 35vh;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px) scale(0.95);
  }
  60% {
      opacity: 1;
      transform: translateY(-10px) scale(1.02);
  }
  100% {
      opacity: 1;
      transform: translateY(0) scale(1);
  }
}

.title {
  margin-top: 0;
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: center;
}

.logo {
  display: block;
  max-width: 350px; /* Tamaño máximo de la imagen */
  width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 auto 10px auto;
}

.form-group {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
  color: #555;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group label {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  font-size: 16px;
  color: #555;
  pointer-events: none;
  transition: all 0.2s ease;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
  top: -0.75rem;
  left: 1rem;
  font-size: 14px;
  color: #1683f7;
}

.form-control:placeholder-shown + label {
  top: 1rem;
  left: 1rem;
  font-size: 16px;
  color: #999;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.error-message {
  color: #dc3545;
  margin-top: 10px;
  font-size: 14px;
}


/* Responsivo */
@media (max-width: 768px) {
  .form {
      width: 95%; /* Ajusta el ancho para pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .form {
      width: 100%; /* El formulario ocupa todo el ancho en pantallas muy pequeñas */
  }
}
